<!DOCTYPE HTML>
<html>
	<head>
        <title>{% block title %}{{ info.title }}{% endblock %}</title>

        <meta name="author" content="WebElements.agency">
        <meta name="description" content="{% block description %}{% endblock %}">
        <meta name="keywords" content="{% block keywords %}{% endblock %}">
		
		<script src="/template/photographer/assets/scripts/jquery.min.js"></script>

        {% include "components/head.html" %}

		<link rel="stylesheet" href="/template/photographer/assets/styles/main.css" />
		<noscript>
            <link rel="stylesheet" href="/template/photographer/assets/styles/noscript.css" />
        </noscript>
	
        {% block styles %}{% endblock %}
        {% block scripts %}{% endblock %}
	</head>
	<body class="is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Wrapper -->
                <div id="wrapper">

                    {% block content %}
                        <div class="main-content editable"></div>
                    {% endblock %}

                    <!-- Panel -->
                    <section class="panel color4-alt">
                        <div class="intro color4 editable">
                            <h2 class="major">Contact</h2>
                            <p>Sed vel nibh libero. Mauris et lorem pharetra massa lorem turpis congue pulvinar. Vivamus sed feugiat finibus. Duis amet bibendum amet sed. Duis mauris ex, dapibus sed ligula tempus volutpat magna etiam.</p>
                        </div>
                        <div class="inner columns divided">
                            <div class="span-3-25">
                                <form method="post" action="#">
                                    <div class="fields">
                                        <div class="field half">
                                            <label for="name">Name</label>
                                            <input type="text" name="name" id="name" />
                                        </div>
                                        <div class="field half">
                                            <label for="email">Email</label>
                                            <input type="email" name="email" id="email" />
                                        </div>
                                        <div class="field">
                                            <label for="message">Message</label>
                                            <textarea name="message" id="message" rows="4"></textarea>
                                        </div>
                                    </div>
                                    <ul class="actions">
                                        <li><input type="submit" value="Send Message" class="button primary" /></li>
                                    </ul>
                                </form>
                            </div>
                            <div class="span-1-5">
                                <ul class="contact-icons color1">
                                    {% include "components/social.html" %}
                                </ul>
                            </div>
                        </div>
                    </section>

                    <!-- Copyright -->
                    <div class="copyright">
                        &copy; {{ info.copyright }} {{ info.company }}.
                        Design: <a href="https://webelements.agency">Web Elements</a>.
                    </div>

                </div>
			</div>

		<!-- Scripts -->
        <script src="/template/photographer/assets/scripts/browser.min.js"></script>
        <script src="/template/photographer/assets/scripts/breakpoints.min.js"></script>
        <script src="/template/photographer/assets/scripts/main.js"></script>

	</body>
</html>