<!DOCTYPE HTML>
<html>
	<head>
        <title>{% block title %}{{ info.title }}{% endblock %}</title>

        <meta name="author" content="WebElements.agency">
        <meta name="description" content="{% block description %}{% endblock %}">
        <meta name="keywords" content="{% block keywords %}{% endblock %}">
		
		<script src="/template/photographer/assets/scripts/jquery.min.js"></script>

        {% include "components/head.html" %}

		<link rel="stylesheet" href="/template/photographer/assets/styles/main.css" />
		<noscript>
            <link rel="stylesheet" href="/template/photographer/assets/styles/noscript.css" />
        </noscript>
	
        {% block styles %}{% endblock %}
        {% block scripts %}{% endblock %}
	</head>
	<body class="is-preload">

		<!-- Page Wrapper -->
			<div id="page-wrapper">

				<!-- Wrapper -->
                <div id="wrapper">

                    {% block content %}
                        <div class="main-content editable"></div>
                    {% endblock %}

                    <!-- Copyright -->
                    <div class="copyright">
                        &copy; {{ info.copyright }} {{ info.company }}.
                        Design: <a href="https://webelements.agency">Web Elements</a>.
                    </div>

                </div>
			</div>

		<!-- Scripts -->
        <script src="/template/photographer/assets/scripts/browser.min.js"></script>
        <script src="/template/photographer/assets/scripts/breakpoints.min.js"></script>
        <script src="/template/photographer/assets/scripts/main.js"></script>

	</body>
</html>